body{
    background-color: aquamarine;
    text-align: center;
    font-family: Arial;
}
#resultado{
    background-color: bisque;
    border-radius: 10px;
    margin: auto;
    width: 400px;
}